<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftUIAPITest1.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>051C8E3728CE1237001F32AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>051C8E4728CE1238001F32AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>051C8E5128CE1238001F32AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
